<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
     <div class="nav-bar">
        <h2> Blog</h2>
    </div>
<div class="posts">
     <div class="full-post">
        
     
             <h4>@<%=post.username%></h4>
             <p><%=post.content%></p>
       </div>
</div>
    

</body>
</html>