<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user page</title>
     <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="nav-bar">
        <h2>Write a post</h2>
    </div>

      
            <form  class="post" method="post" action="/post">

                <div class="posts">
                    
                    <input class="username" type="text" placeholder="enter your name" name="username">
                   <br>
                   <br>
                   <input type="text" class="quote" name="quote" placeholder="Give a tag to your content"></input>
                   <br>
                   <br>
                <textarea name="content" id="content" placeholder="Enter your content"></textarea>
                    <br>
                <button>submit post</button>

                </div>

                

           </form>
       
    
    
    
</body>
</html>